body {
	display: flex;
	text-align: justify;
}



button{
	height: 30px;
	width: 250px;
	margin-top: 1.5%;
	
}

aside {
	position: fixed;
	width: 20%;
	height: 100%;
	margin-left: 1.5%;
	padding: 10px;
}
main {
	margin-left: 20%;
	margin-right: 3%;
	padding: 20px;
}

